h3
 | Add New Masjid
div(class='row')
 script(type="text/ng-template",id="myModalContent.html")
  div(class="modal-header")
   h3(class="modal-title") Alert
  div(class="modal-body")
   ul
    | Masjid Details Saved
   div(class="modal-footer")
    button(class="btn btn-primary",type="button",ng-click="ok()") OK

 div(class='col-lg-4')
  form(name='abc')
    div(class='form-group', ng-class="{ 'has-error': abc.mosque.$touched && abc.mosque.$invalid }")     
     input(type="text", ng-model='mosque', name='mosque', ng-minlength="3", ng-maxlength="50", required, class="form-control", placeholder="Name of Masjid")
     div(class="help-block", ng-messages="abc.mosque.$error", ng-if="abc.mosque.$touched")
      div(ng-message="required")	  
       | You must provide masjid name
      div(ng-message="minlength")
       | Minimum 3 characters required for masjid name
      div(ng-message="maxlength") 
       | Maximum 50 characters for masjid name is allowed
    div(class='form-group', ng-class="{ 'has-error': abc.locality.$touched && abc.locality.$invalid }")
     label(for='locality') Location of Masjid :
     input(type="text", ng-model='locality', name='locality', required, class='form-control', placeholder='Locality')
     div(ng-messages='abc.locality.$error', ng-if='abc.locality.$touched')
      div(ng-message='required') Required
     div(class='form-group')
     label(for='city') City :
     input(type='text', ng-model='city',class='form-control', placeholder='City')
    div(class='form-group')
     label(for='state')  State :
     input(type='text',ng-model='state',class='form-control', placeholder='State')
    div(class='form-group')
     label(for='country')  Country :
     input(type='text', ng-model='country',class='form-control', placeholder='County')
    div(class='form-group')
     label(for='contact')  Contact Details :
     input#ContactId(type="text",ng-model='contact',class='form-control', placeholder='Contact/Phone')
  div(class="btn-group")
    button(ng-click='savemasjid()', class="btn btn-primary") Save Masjid Details
    button(ng-click='clear()', class="btn btn-warning") Clear Details
    {{savestatus}}
  div(class='col-lg-8')