p This is the partial for view 1.
table(style='border-collapsed:collapsed')
 tr(ng-repeat='mq in masajid')
  td(style='border-style:solid;border-width:2;border-color:yellow;') {{mq.mosque}}
  td(style='border-style:solid;border-width:2;border-color:yellow;') {{mq.country}}
mixin masterlist
 ul
  li Ist Grade
  li IInd Grade
div(style='border: solid 1px black')
 +masterlist
 +masterlist
 +masterlist
 div(style="border: solid 1px green")
  a(href="addmasjid") Add Masjid
