extends layout

block body
  div(ng-controller='AppCtrl')
   nav(class='navbar navbar-inverse')
    div(class='container-fluid')
     div(class='navbar-header')
      a(class='navbar-brand', ui-sref='home') Universal Mosque Locator
     div
      ul(class='nav navbar-nav')
       li(ng-class="getClass('/addmasjid')" )
        a(ui-sref='addmasjid') Add Masjid
       li( ng-class="getClass('/showall')" )
        a(ui-sref='showall') Show All
       li( ng-class="getClass('/admin')" )
        a(ui-sref='admin') Admin

  div(class='container')
   div(ui-view)
   div
    | Universal Mosque Locator: v
    span(app-version)

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular-animate/angular-animate.js')
  script(src='js/lib/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='js/lib/angular-ui-router/release/angular-ui-router.js')
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js")
  script(src='js/lib/uigrid/ui-grid.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
