!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Universal Mosque Finder
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='js/lib/angular-bootstrap/ui-bootstrap-csp.css')
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")	
    link(rel='stylesheet', href='http://ui-grid.info/release/ui-grid-unstable.css')
  body
    block body
